[Desktop Entry]
Version=1.0
Type=Application

Name=Proton-Autogen
Name[fr]=Proton-Autogen

Comment=Run Windows executables with Proton or Wine
Comment[fr]=Exécuter des programmes Windows avec Proton ou Wine

Exec=proton-autogen %f

Icon=wine
Terminal=false
StartupNotify=false

MimeType=application/x-ms-dos-executable;application/x-msdownload;application/vnd.microsoft.portable-executable;

Categories=Game;Utility;
Keywords=Proton;Wine;Windows;EXE;
