pkgbase = proton-autogen
	pkgdesc = Automatic Proton/Wine launcher for Windows executables
	pkgver = 3.3.0
	pkgrel = 1
	url = https://github.com/N3oRay/proton-autogen
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-gobject
	depends = python-pyyaml
	depends = python-rich
	depends = gtk4
	depends = gdk-pixbuf2
	source = https://github.com/N3oRay/proton-autogen/archive/refs/tags/v3.2.9.tar.gz
	sha256sums = 0dab5db12791968512f2c4fa02bc4aa7fad065115b437bf0e8b99a2117bb1766

pkgname = proton-autogen
