pkgbase = proton-autogen
	pkgdesc = Automatic Proton/Wine launcher for Windows executables
	pkgver = 3.2.7
	pkgrel = 1
	url = https://github.com/N3oRay/proton-autogen
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-gobject
	depends = python-pyyaml
	depends = python-rich
	depends = gtk4
	depends = gdk-pixbuf2
	source = https://github.com/N3oRay/proton-autogen/archive/refs/tags/v3.2.7.tar.gz
	sha256sums = 23b98fede4a58e6b4c95ca697f6dae86fc82ee26c8ec1ea6b6d6c869a59334ac

pkgname = proton-autogen
